<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#448aff">
    <link rel="icon" sizes="192x192" href="images/icons/icon-192x192.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2017 Xmas presents</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style media="screen">
        body {
            background-color: #eee;
            margin: 0;
        }
        .app {
            height: 100vh;
        }
        header {
            flex: 0 0 60px;
            flex-direction: column;
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #444;
            color: white;
        }
    </style>
  </head>

  <body>
      <header class="removable">
          <h3>Xmas present picker</h3>
      </header>

      <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  </body>
</html>
