$border-color: #ddd;

body, .app {
    background-color: #eee;
    height: 100%;
    // overflow: hidden;
}
.app {
}
#picker {
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        flex: 0 0 60px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        background-color: #444;
        color: white;
    }
    .main {
        margin-top: 20px;
    }
    .others, .mine {
        overflow-y: auto;
    }
}

header {
    @media (min-width: 576px) {
        .container {
            flex: initial;
        }
    }
    .avatar {
        height: 30px;
        border-radius: 100%;
        margin-right: 15px;
    }
}
h1, h2 {
    margin-bottom: 20px;
}
#login, #register {
    width: 400px;
    margin: 50px auto 0;
    .google {
        margin-bottom: 30px;
        border: 1px solid $border-color;
        padding: 3px 10px;
    }
    form {
        margin-top: 15px;
    }
}
.new-present {
    margin-bottom: 20px;
}

.section, li.present {
    background-color: white;
    border-radius: 3px;
    border: 1px solid $border-color;
    padding: 3px 10px;
}
.section {
    input {
        background-color: #ddd;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    li.present {
        height: 34px;
        justify-content: space-between;
        margin-bottom: 3px;
        span {
            font-size: 14px;
        }
    }
}



// ....

.flex-h {
    display: flex;
    align-items: center;
    &.spread {
        justify-content: space-between;
    }
}

.warning {
    color: #ee3333;
}
.clickable {
    cursor: pointer;
}
