$border-color: #ddd; // LAYOUT ++ see css for larger screens
$green: #0a691f;
$green-icon: #29a745;
$green-accent: #d8f1de;
$red: #880d0d;
$bkg-colour: #dedede;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

@import "~bootstrap/scss/bootstrap-grid";

// move elm dev tool to left
body > div:not(.app) {
    left: 6px;
    right: initial !important;
}

.app {
    background-color: $bkg-colour;
    // repeat settings inlined
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    header {
        width: 100%;
        flex: 0 0 60px;
    }

    footer {
        width: 100%;
        flex: 0 0 50px;
    }

    .main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        // width up to 400px
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.initauth, .subscribing {
    .loading {
        justify-content: center;
        align-items: center;
    }
    img {
        margin-bottom: 20px;
    }
}
// ****************************
// Auth page
// ****************************
.authpage {
    overflow: auto;

    form {
        margin-bottom: 15px;
    }
    .google {
        margin-bottom: 30px;
        border: 1px solid $border-color;

        img {
            height: 45px;
        }
    }

    form {
        margin-top: 15px;
    }
    @media (min-width: 576px) {
        margin: 0 auto;

        h1 {
            text-align: center;
        }

        .section {
            margin: 15px auto;
        }

        .container {
            width: 400px;
        }
    }
}


// ****************************
// App page
// ****************************

ul.present-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li.present {
        // height: 34px;
        justify-content: space-between;
        margin-bottom: -1px;
        border: 1px solid $border-color;
        padding: 5px;

        span {
            font-size: 14px;
        }
        &.ClaimedBySomeone {
            color: grey;
        }
    }
    .description a {
        margin-left: 5px;
    }
}
// plus see css for larger screens
.sidebar {
    display: flex;
    margin-left: -100%;
    transition: margin-left 0.3s ease-in-out;

    &.open {
        margin-left: 0;
    }

    .sidebar-inner {
        padding: 15px;
        width: 80%;
        height: 100%;
        background-color: white;
    }

    .sidebar-remainder {
        width: 20%;
        background-color: rgba(4,4,4,0.8);
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-left: 5px;
            color: #333;
            border-bottom: 1px solid #aaa;
            height: 60px;

            .left-element {
                display: inline-block;
                width: 80px;
            }
        }
    }
}

// ****************************
// Common
// ****************************

header {
    padding: 10px;
    background-color: $green;
    &, a, h4 {
        color: $green-accent;
    }
    a:hover {
        color: #ddd;
    }
    h4 {
        margin-bottom: 0;
    }

    .avatar {
        height: 30px;
        border-radius: 100%;
        margin-left: 15px;
    }
}

footer {
    background-color: white;

    &.tabs {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $green;
            padding: 5px 5px;
            flex-basis: 50px;
            flex-grow: 1;
            &.narrow {
                flex-grow: 0;
            }
              -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                 -khtml-user-select: none; /* Konqueror HTML */
                   -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                              supported by Chrome, Opera and Firefox */
        }
        .tab.active {
            background-color: $bkg-colour;
            color: $green;
        }
        .tab + .tab {
            border-left: 1px solid #ccc;
        }
    }
}
// ....

.section {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 20px;

    input {
        background-color: #ddd;
    }
}

@media (min-width: 576px) {
    body {
        background-color: white;
    }
    .app {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}





h1, h2 {
    margin-bottom: 20px;
}
h1, h2, h3, h4 {
    color: $red;
}

.flex-h {
    display: flex;
    align-items: center;

}
.flex-spread {
    justify-content: space-between;
}

.flex-baseline {
    align-items: baseline;
}

.success {
    color: $green;
}
.warning {
    color: #ee3333;
}

.clickable {
    cursor: pointer;
}
// override bootstrap

.badge {
    font-weight: normal;
    &.bg-danger, &.bg-success {
        color: white;
    }
}
// Bootstrap overrides
.form-group label {
    font-size: smaller;
}